<!DOCTYPE html>
<html>

<head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <meta charset="utf-8">
      <title> s </title>

</head>

<body ng-app="FirstApp" ng-init="cowOne = true">
<pre>
  ___
 < {{cowSay}} >
  ---
        \
         \

 +      o     +              o
     +             o     +       +
 o          +
     o  +           +        +
 +        o     o       +        o
 -_-_-_-_-_-_-_,------,      o
 _-_-_-_-_-_-_-|   /\_/\
 -_-_-_-_-_-_-~|__( ^ .^)  +     +
 _-_-_-_-_-_-_-''  ''
 +      o         o   +       o
     +         +
 o        o         o      o     +
     o           +
 +      +     o        o      +

</pre>



            <input type="text" ng-model="cowSay" placeholder="two way data" />
            <br />

            <button ng-click="cowOne = !cowOne">Show Result</button>
            <script src="./bundle.js"></script>
</body>

</html>
